@import"https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap";

:root {
    --first-color: hsl(354, 78%, 60%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --card-color: hsl(0, 0%, 90%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(206, 4%, 97%);
    --container-color: hsl(0, 0%, 100%);
    --border-color: hsl(0, 0%, 94%);
    --footer-contact-hover: blue;
    --h-header: 3rem;
    --shadow-general: 0 .5rem 1rem rgba(0, 0, 0, .15);
    --z-header-nav: 1000;
    --z-handle-icon-navbar: 2000;
    --z-content-cart: 3000;
    --z-modalproduct: 4000
}

body.dark-theme {
    --first-color: hsl(182, 53%, 60%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(249, 19%, 14%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
    --footer-text: hsl(0, 0%, 95%);
    --footer-contact-hover: red;
}

body::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

body::-webkit-scrollbar-thumb {
    background: var(--first-color);
    border-radius: 10px
}

body::-webkit-scrollbar-track {
    background: var(--container-color);
    border-radius: 10px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body-color);
    transition: color .5s,background-color .5s;
}

a {
    text-decoration: none;
    color: inherit
}

ul {
    list-style: none
}

img {
    width: 100%;
    display: block
}

.container {
    max-width: 1024px;
    margin: auto
}

/* HEADER */

header {
    background-color: transparent;
    height: var(--h-header);
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    z-index: var(--z-header-nav);
    transition: background-color .5s,height .5s,box-shadow .5s;
}

.header_show {
    background-color: var(--container-color);
    height: calc(var(--h-header) + 1rem);
    box-shadow: var(--shadow-general)
}


/* NAVBAR */

.navbar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.navbar_logo {
    display: flex;
    align-items: center;
}

.nav_logo-icon {
    width: 40px;
    fill: var(--first-color);
}

.nav_logo-icon + span {
    font-weight: 500;
    color: var(--title-color);
}

.navbar_menu {
    background-color: var(--container-color);
    position: fixed;
    left: 110%;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: left .5s
}

.navbar_menu .li_product {
    cursor: pointer;
}

.navbar_menu-show {
    left: 0
}


.navbar_menu li {
    font-size: 1.5rem;
    color: var(--title-color);
}

.link__active {
    color: var(--first-color);
}

.navbar__icons {
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--title-color);
    user-select: none;
    display: flex;
    gap: .5rem;
}



#iconShowCart {
    position: relative;
}

.totalAmountProducts {
    position: absolute;
    top: 10px;
    right: -5px;
    width: 20px;
    height: 20px;
    background-color: var(--title-color);
    color: var(--card-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .6rem;
    border-radius: 50%;
    font-weight: 700
}

.handleIconNavbar {
    position: relative;
    z-index: var(--z-handle-icon-navbar);
}

/* HOME */

.home {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home_header-img {
    background-color: var(--first-color);
    display: flex;
    align-items: center;
    min-height: 400px;
}

.home_body {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    gap: 1rem;
}

.home_body-title {
    color: var(--title-color);
    font-size: 2rem;
}

.home_body-paragragh {
    color: var(--text-color-light);
}

.home_body-price {
    color: var(--first-color);
    font-weight: 700;
    font-size: 1.5rem;
}

.home_body-btn {
    background-color: var(--button-color);
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 15px 30px;
    place-self: baseline;
    cursor: pointer;
}

/* CARRITO DE COMPRAS */

.contentCart {
    position: fixed;
    width: 100vw;
    right: -110%;
    top: 0;
    height: 100vh;
    background-color: var(--container-color);
    z-index: var(--z-content-cart);
    padding: 2rem 1rem 1rem;
    transition: right .5s;
    display: grid;
    grid-template-rows: 80% 20%
}

.contentCart_show {
    right: 0
}

.contentCart .bx-x {
    font-size: 1.5rem;
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
    color: var(--title-color)
}

.contentCart__products {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: scroll
}

.contentCart__products::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

.contentCart__products::-webkit-scrollbar-thumb {
    background: var(--first-color);
    border-radius: 10px
}

.contentCart__products::-webkit-scrollbar-track {
    background: var(--container-color);
    border-radius: 10px
}

.product__card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem
}

.product__card--img {
    border: 1px solid var(--first-color);
    border-radius: .5rem;
    background-color: var(--card-color)
}

.product__card--body {
    display: grid
}

.product__card--body h4 {
    color: var(--title-color)
}

.product__card--body p:nth-child(2) {
    color: var(--text-color-light);
    font-size: .8rem
}

.product__card--body p:nth-child(2) span,.product__card--body p:nth-child(3) {
    color: var(--first-color)
}

.product__card--action {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--title-color)
}

.product__card--action .bx {
    cursor: pointer;
}


.bx-trash-alt {
    margin-left: 1rem;
    color: var(--first-color)
}

.contentCart__total {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.contentCart__total--buy {
    display: flex;
    justify-content: space-between
}

.numberItems {
    color: var(--text-color);
    font-size: .8rem
}

.totalPrice {
    color: var(--text-color);
    font-weight: 700
}

.btn__buy {
    padding: 1rem 0;
    border: none;
    background-color: var(--button-color);
    box-shadow: var(--shadow-general);
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: background-color .5s,transform .5s
}

.btn__buy:hover {
    background-color: var(--first-color)
}

.btn__buy:active {
    transform: scale(1.02)
}


/* PRODUCTOS */

.content_products {
    padding: 5rem 1rem;
    display: grid;
    gap: 3rem;
}

.content_filter {
    margin: auto;
    max-width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem
}

.filter {
    text-align: center;
    cursor: pointer;
    padding: .5rem;
    transition: background-color .5s;
    box-sizing: var(--shadow-general)
}

.filter p {
    transition: color .5s
}

.filter p:nth-child(1) {
    color: var(--text-color);
    font-weight: 500
}

.filter p:nth-child(2) {
    color: var(--text-color-light);
    font-size: .8rem;
    font-weight: 300
}

.filter:hover {
    background-color: var(--button-color)
}

.filter:hover p {
    color: #fff
}

.filter__active {
    background-color: var(--button-color)
}

.filter__active p:nth-child(1) {
    color: #fff
}

.filter__active p:nth-child(2) {
    color: #fff
}

.products {
    overflow: hidden;
    display: grid;
    gap: 2rem;
    padding: 0 2rem;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr))
}

.product {
    border-radius: 1rem;
}

.product__img {
    padding: 1rem;
    background-color: var(--card-color);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.product__img img {
    transition: transform .5s
}

.product:hover img {
    transform: translateY(-10px)
}

.product__info {
    background-color: var(--container-color);
    padding: 1.5rem;
    position: relative;
    min-height: 109px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.product__info .bx-plus {
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: -1.1rem;
    background-color: var(--container-color);
    padding: .5rem;
    font-size: 1.5rem;
    box-shadow: var(--shadow-general);
    color: var(--title-color);
    border-radius: 50%;
    transition: background-color .5s,color .5s
}

.product__info .bx-plus:hover {
    background-color: var(--first-color);
    color: var(--body-color);
}

.product__info h3 {
    color: var(--title-color);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product__info--stock {
    color: var(--text-color-light);
    font-size: .8rem;
}

.product__info--stock-hide {
    display: none;
}

.product__soldout {
    background-color: var(--first-color);
    color: var(--title-color);
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: .8rem;
}

.product__info p {
    color: var(--title-color);
    font-weight: 500;
}

.showModalProduct {
    transition: color .5s;
    cursor: pointer
}

.showModalProduct:hover {
    color: var(--first-color)
}

.modalProduct {
    background-color: #00000090;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    padding: 0 1rem;
    z-index: var(--z-modalproduct);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-in-out,visibility .2s ease-in-out
}

.modalProduct__show {
    opacity: 1;
    visibility: visible
}

.contentProduct {
    background-color: var(--container-color);
    max-width: 400px;
    padding: 1rem;
    border-radius: 1rem;
    position: relative
}

.closeModal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2rem
}

.contentProduct__name {
    color: var(--title-color)
}

.contentProduct__p {
    color: var(--text-color-light);
    font-size: .9rem
}

.contentProduct__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px
}

.contentProduct__info h3 {
    display: flex;
    align-items: center;
    gap: 1rem
}

.contentProduct__info .bx-plus {
    background-color: var(--button-color);
    color: #fff;
    font-size: 1rem;
    padding: .5rem;
    border-radius: 50%;
    align-self: flex-start;
    cursor: pointer;
    transition: background-color .5s
}

.contentProduct__info .bx-plus:hover {
    background-color: var(--first-color)
}

.contentProduct__info p {
    color: var(--text-color-light);
    font-size: .9rem
}

/* FOOTER */

footer {
    background-color: var(--card-color);
    padding: 5rem 2rem
}

.content_footer {
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}

.footer_info {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.footer_info a {
    cursor: pointer;
}

.footer_info-title {
    color: var(--title-color)
}

.footer_info ul {
    display: grid;
    gap: .5rem
}

.footer_info ul a {
    color: var(--text-color)
}

.footer_info li:hover a {
    color: var(--title-color)
}

.footer_info .footer_link-social {
    display: flex;
    flex-direction: row
}

.footer_info .footer_link-social i {
    font-size: 1.5rem
}

footer>p {
    margin-top: 3rem;
    background-color: var(--first-color);
    color: var(--container-color);
    text-align: center;
    padding: 1rem
}

footer>p>b>span {
    color: var(--button-color);
}

footer > p > b > span.darkModeFooterText {
    color: var(--footer-text)
}

footer>p>b>a {
    font-weight: 700;
    color: var(--container-color)
}

footer > p > b > .footer-contact-link:hover {
    color: var(--footer-contact-hover)
}

footer>p>b>a>span {
    color: var(--button-color)
} 


.load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    z-index: 1000;
    display: grid;
    justify-content: center;
    align-items: center
}

.load svg {
    fill: var(--first-color);
    width: 100px;
    animation: scroll 1.5s infinite
}



/* MEDIA QUERYS PARA RESPONSIVE */



@media (min-width: 700px) {
    #iconShowMenu {
        display:none
    }

    .navbar {
        gap: 2rem
    }

    .navbar_menu {
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        flex-direction: row;
        gap: 1rem;
        width: 100%;
        justify-content: flex-start
    }

    .navbar_menu li {
        font-size: 1rem;
        font-weight: 500
    }

    .home {
        flex-direction: row-reverse;
        min-height: 80vh
    }

    .home_header {
        grid-template-columns: 1fr
    }

    .home_header div:nth-child(1) {
        display: none
    }

    .home_body {
        justify-content: center
    }

    .home_body-title {
        font-size: 3rem
    }

    .content_filter {
        grid-template-columns: 1fr 1fr 1fr 1fr
    }

    .content_products {
        padding-top: 20vh
    }

    .content_footer {
        flex-direction: row;
        justify-content: space-between
    }

    .contentCart {
        width: 400px
    }
}

@keyframes scroll {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(10px)
    }

    to {
        transform: translateY(0)
    }
}
